

<div class="innerBody">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="~/Admin/AdminPanel">Admin</a></li>
                    <li class="active">AdminPanel</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="outerBox">
        <h4 id="head2" align="center">Welcome to <i><b>Admin</b></i> Panel!</h4><br>
        <h6 id="head2" align="center">Please select an option!</h6>
        <a class="option" href="~/Home/products">View All Products</a><br><br>
        <a class="option" href="~/Admin/InsertProduct">Insert New Products</a><br><br>
        <a class="option" href="~/Admin/UpdateProduct">Update Products Record</a><br><br>
        <a class="option" href="~/Admin/DeleteProduct">Remove Products</a><br><br>
       
    </div>
</div>


