<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WatchStoreMvcProject-20160520093432.mdf;Initial Catalog=aspnet-WatchStoreMvcProject-20160520093432;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="watchshopDBEntities" connectionString="metadata=res://*/Models.watchModel.csdl|res://*/Models.watchModel.ssdl|res://*/Models.watchModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
    <add name="watchshopDBEntities1" connectionString="metadata=res://*/Models.WatchStoreModel.csdl|res://*/Models.WatchStoreModel.ssdl|res://*/Models.WatchStoreModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
    <add name="watchshopDBEntities2" connectionString="metadata=res://*/Models.WatchShopModel.csdl|res://*/Models.WatchShopModel.ssdl|res://*/Models.WatchShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
    <add name="watchshopDBEntities3" connectionString="metadata=res://*/Models.watchShopModel.csdl|res://*/Models.watchShopModel.ssdl|res://*/Models.watchShopModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
    <add name="watchshopDBEntities4" connectionString="metadata=res://*/Models.WatchDataModel.csdl|res://*/Models.WatchDataModel.ssdl|res://*/Models.WatchDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
    <add name="watchshopDBEntities5" connectionString="metadata=res://*/Models.transections.csdl|res://*/Models.transections.ssdl|res://*/Models.transections.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
    <add name="watchshopDBEntities6" connectionString="metadata=res://*/Models.transections.csdl|res://*/Models.transections.ssdl|res://*/Models.transections.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
    <add name="watchshopDBEntities7" connectionString="metadata=res://*/Models.watchDataModel.csdl|res://*/Models.watchDataModel.ssdl|res://*/Models.watchDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=646bfb7c-1e49-4a25-a19d-a63500a00967.sqlserver.sequelizer.com;Database=db646bfb7c1e494a25a19da63500a00967;User ID=mmgwbtisrldoocup;Password=qnfqFUXgaDHZcQjfQW3tDqryCpPXwi6Tqx3EfZDRMi2EnDP8qbZTmCg85PUrf8RZ;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>