
	<!--start-breadcrumbs-->
<div class="innerBody">
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--contact-start-->
    <div class="contact">
        <div class="container">
            <div class="contact-top heading">
                <h3 id="con">CONTACT US</h3>
            </div>

            <div class="contact-text">
                <div class="col-md-3 contact-left">
                    <div class="address">
                        <h4>Address</h4>
                        <p>
                            Edge Interior Design (EID),
                            <span>Gulberg III, Lahore</span>
                            Phone #: 0312000300<br />
                            Email: eidesign@gmail.com<br />
                            Fax: 0908-9978979
                        </p>
                    </div>

                </div>
                <div class="col-md-9 contact-right">
                    <h5>Please Give your valueable feedback!</h5>
                    <form>
                       
                        <input id="context" type="text" placeholder="Name" class="input">
                        <br /><br />
                        <input id="context" type="text" placeholder="Email" class="input">
                        <textarea id="context" placeholder="Message" required="" class="input"></textarea>
                        <div class="submit-btn">
                            <input type="submit" value="SUBMIT">
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
               
            </div>
            
          
        </div>
        
    </div>
    <div class="map">
        <h2>Find Us using map!</h2><br><br>
        <img src="~/images/map1.png" />
    </div>
    </div>
    <!--contact-end-->
    <!--map-start-->
  
	<!--map-end-->